<h2 mat-dialog-title>Search For Channels</h2>

<div class="spinner-container" *ngIf="loading">
  <mat-spinner></mat-spinner>
</div>

<mat-table class="channels-table mat-elevation-z8" [dataSource]="channels" *ngIf="channelsFound">
  <ng-container matColumnDef="name">

    <mat-header-cell *matHeaderCellDef>#name</mat-header-cell>

    <mat-cell *matCellDef="let channel">{{channel.name}}</mat-cell>

  </ng-container>

  <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>

  <mat-row *matRowDef="let row; columns: displayedColumns" (click)="channelSelected(row)"></mat-row>

</mat-table>

<mat-dialog-actions>
  <button class="bottom-toolbar" mat-raised-button color="primary"
          (click)="loadMore()">Load More
  </button>

  <button mat-raised-button class="bottom-toolbar" (click)="close()">
    Close
  </button>
</mat-dialog-actions>
  
