<ng-container *ngIf="(showMessageForm$ | async)">
  <mat-card [formGroup]="messageForm">
    <div layout="row" layout-align="start center">
      <div>
        <button mat-icon-button matTooltip="Add content" matTooltipPosition="after" [matMenuTriggerFor]="chatMenu">
          <mat-icon>add</mat-icon>
        </button>
        <mat-menu #chatMenu="matMenu">
          <button mat-menu-item>Code or text snippet</button>
          <button mat-menu-item>Google Docs file</button>
          <button mat-menu-item>Post</button>
          <button mat-menu-item>Google Drive</button>
          <button mat-menu-item>Upload file</button>
        </mat-menu>
      </div>
      <mat-form-field class="push-left push-right" flex layout="row" floatPlaceholder="never">
        <textarea matInput
                  formControlName="message"
                  flex placeholder="message"></textarea>
      </mat-form-field>
      <div>
        <button class="mat-raised-button"
                (click)="send()">
          Send
        </button>
      </div>
    </div>
  </mat-card>
</ng-container>
