<h3 mat-subheader>CHANNELS ({{(channelTotal$ | async)}})</h3>
<ng-template let-item let-i="index" let-last="last" ngFor [ngForOf]="(allChannels$ | async)">
  <a [style.background]="getBackgroundColor(item)" mat-list-item (click)="channelSelected(item)">
    <mat-icon mat-list-icon>#</mat-icon>
    {{item.channelName}}</a>
</ng-template>

<a mat-list-item (click)="addChannel()">
  <mat-icon mat-list-icon>+</mat-icon>
  Add a channel
</a>

<a mat-list-item (click)="searchChannels()">
  <mat-icon mat-list-icon></mat-icon>
  Search for a channel
</a>


